page-forgetpass {
    .scroll-content {
    background: linear-gradient(45deg, #0083e0 0%, #003b64 100%);
}
    .card{
        background-color:rgba(255, 255, 255, 0.4);
        margin-top:50px;
        border-radius:10px;
    }
    .card-content{
        height:200px;
    }
    .item{
        margin-top:20px;
        margin-bottom:20px;
    }
    .msg{
        height:150px;  
    }
    .input-wrapper{
        align-items:flex-start;
    }
    .button{
        width:80px;
        height:40px;
        font-size:16px;
        background-color:rgb(0, 59, 100); 
        text-align:center;
        border-radius:10px;
        color:#fff;
        border:1px solid rgb(0, 59, 100);
    }
    .button:hover{background-color:rgb(0, 59, 100)!important; }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md{color:#fff;}
    .btn{
        text-align:center;
        
    }
    .list-md .item-input:last-child{background:transparent;}
    .capital{
        color:#fff;
        text-align:center;
        font-size:24px;
        font-style: italic;
    }

}
