page-page4 {

    .buttons-Background{
    background: none;
}

.icon-size{
    font-size: 25px;
    color: teal;

}
.item-inner{background-color: #efefef;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: rgb(0, 59, 100);
    box-shadow: inset 0 -1px 0 0 rgb(0, 59, 100); background-color: #efefef;
}
ion-item ion-label.lbl-mail , .lbl-pass{padding-left:15px;  }
ion-list ion-item.item-md{padding-left:0px;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {

    box-shadow: inset 0 0px 0 0 #003b64;
}
.googlelogo{
    width:50px;
    height:50px;
    padding:2px;
    border-radius:60px;
    margin-top:4px;
}
.fblogo{
    width:60px;
    height:60px;
    border-radius:60px;
    padding:2px;

}
.row{
    margin:2em 8em;
}
.image{
    margin:2em 8em;
}
}
