page-newpass {
.card{
        background-color:#003b64;
        margin-top:50px;
        border-radius:10px;
    }
    .card-content{
        height:240px;
    }
    .item{
        margin-top:20px;
        margin-bottom:20px;
    }
    .msg{
        height:150px;  
    }
    .input-wrapper{
        align-items:flex-start;
    }
    .button{
        width:80px;
        height:40px;
        font-size:16px;
        background-color:rgb(0, 59, 100); 
        text-align:center;
        border-radius:10px;
        color:white;
    }
    .btn{
        text-align:center;
        
    }
    .capital{
        color:#003b64;
        text-align:center;
        margin-top:30px;
    }
    .image{
        height:40px;
        margin: 1em 8em;
        margin-top: 30px;
    }
}
