<ion-header>
    <ion-navbar>
        <ion-title>{{allTypesOfMovies}}</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <input type="hidden" value="{{catoffset[0]}}" id="allCat">
    <input type="hidden" value="{{catoffset[1]}}" id="moviesOffset">
    <ion-list *ngFor="let i of allMovies" (click)="openMovieinfo(i.ID,allTypesOfMovies)">

        <ion-item style="border-radius:5px;margin-bottom:-6px;">
            <ion-thumbnail item-left>
                <img style="height:100%;" [src]='i.MovieImage'>
            </ion-thumbnail>
            <h2 class="heading-top">{{i.MovieTitle}}</h2>
            <h2 class="heading-top" *ngIf="allTypesOfMovies == 'Upcoming-Trailer'">{{i.TrailorTitle}}</h2>
            <p class="paragrah-top">{{i.MovieDate}}</p>
            <p class="paragrah-top" *ngIf="allTypesOfMovies == 'Upcoming-Trailer'">{{i.TrailorDate}}</p>
        </ion-item>
    </ion-list>
    <p>{{load}}</p>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
        <ion-infinite-scroll-content  loadingSpinner="bubbles"
      loadingText="Loading">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>