page-page6 {
 ion-list ion-item{    background-color: #00385f!important;}
 ion-list ion-item h2.heading-top{color:#fff; line-height:30px;}
ion-list ion-item p.paragrah-top{color:#fff;}
p{
    font-size:18px;
    text-align:center;
    font-weight:bold;
}

}