page-ondemand {
.card{
        background-color:#003b64;
        border-radius:10px;
    }
    .card-content{
        height:600px;
    }
    .item{
        margin-top:20px;
        margin-bottom:20px;
        
    }
    .msg{
        height:150px;  
    }
    .input-wrapper{
        align-items:flex-start;
    }
    .button{
        width:80px;
        height:40px;
        font-size:16px;
        background-color:darkkhaki; 
        text-align:center;
        border-radius:10px;
        color:black;
    }
    .btn{
        text-align:center;
        
    }
    .capital{
        color:#c7c390;
        text-align:center;
        font-size:24px;
        font-style: italic;
    }
   .scroll-content {
    background: #efefef;
}
 .button {
    width: 93px;
    height: 34px;
    font-size: 14px;
    background-color: #003b64;
    text-align: center;
    border-radius: 5px;
    color: white;
    border: 1px solid #003b64;
    margin-top: 1em;
}
ion-card img {
    display: block;
    width: 50%;

}
 .image{
        height:40px;
        margin: 1em 8em;
        margin-top: 30px;
    }
}
