<ion-header>
    <ion-navbar hideBackButton="true" color="custom-color">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            <img alt="Company Logo" height="40px"  src="img/logo.gif">
        </ion-title>

        <ion-buttons end>
            <button class="buttons-Background" (click)="searchBtn()">
        <ion-icon class="icon-size" name="search"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon  class="icon-size" name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides class="slide-box-size" [options]="MySlides">
        <ion-slide *ngFor="let post of posts">
            <img (click)="submit(post.slug)" [src]='post.SliderImage' />
            <div class="caption">
                <ion-icon class="icon-size1" name="arrow-dropright-circle"></ion-icon>
                <div class="caption_text" style="margin-top:15px;">
                    <h4>{{post.SliderTitle}}</h4>
                    <!--<p>{{post.SliderDate}}</p>-->
                </div>
            </div>
        </ion-slide>
    </ion-slides>


    <h5 class="text-change">Full HD Movies</h5>
    <button ion-button Default class="more-btn" (click)="allLatestMovies('hdMovies')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let movie of movies" [src]='movie.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openMovieinfo(movie.ID)" />
        </ion-scroll>
    </ion-item>
    <br>
    <ion-card class="background">
        <ion-card-content>
            <ion-grid class="button_style background-color">
                <ion-row>
                    <ion-col width-50> <button ion-button color="dark" clear (click)="NowReleased('Latest-Added')"><ion-icon style="font-size: 24px; color:royalblue;" name="ios-radio"></ion-icon><p class="text1">&nbsp;&nbsp;Recently Added</p></button></ion-col>
                    <ion-col width-50> <button ion-button color="dark" clear (click)="NextMonth('Trending')"><ion-icon style="font-size: 24px; color:yellowgreen;" name="md-flame"></ion-icon><p class="text1">&nbsp;&nbsp;Trending</p></button></ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="button_style background-color">
                <ion-row>
                    <ion-col width-50> <button ion-button color="dark" clear (click)="comingsoon('Coming-Soon')"><ion-icon style="font-size: 24px; color:red;" name="md-heart"></ion-icon><p class="text1">&nbsp;&nbsp;Coming Soon</p></button></ion-col>
                    <ion-col width-50> <button ion-button color="dark" clear (click)="allTrailers('Upcoming-Trailer')"><ion-icon style="font-size: 24px; color:slategray;" name="md-outlet"></ion-icon><p class="text1">&nbsp;&nbsp;Trailers</p></button></ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <h5 class="text-change">English Movies</h5> <button ion-button Default class="more-btn" (click)="allEnglishMovies('English-Movies')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let english of  englishMovies;" [src]='english.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openMovieinfo(english.ID)" />
        </ion-scroll>
    </ion-item>



    <h5 class="text-change">Punjabi Movies</h5> <button ion-button Default class="more-btn" (click)="allPunjabiMovies('Punjabi-Movies')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let punjabi of punjabiMovies;" [src]='punjabi.MovieImage' style="width:100px;height:150px;padding:0px 2px; " (click)="openMovieinfo(punjabi.ID)" />
        </ion-scroll>
    </ion-item>



    <h5 class="text-change">Hindi Movies</h5> <button ion-button Default class="more-btn" (click)="allHindiMovies('Hindi-Movies')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let hindi of hindiMovies;" [src]='hindi.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openMovieinfo(hindi.ID)" />
        </ion-scroll>
    </ion-item>



    <h5 class="text-change">English Dubbed Movies</h5> <button ion-button Default class="more-btn" (click)="allEngDubbedMovies('English-Dubbed-Movies')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let DubbedEng of EngDubbedMovies;" [src]='DubbedEng.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openMovieinfo(DubbedEng.ID)" />
        </ion-scroll>
    </ion-item>


    <h5 class="text-change">Upcoming Movies Trailers</h5> <button ion-button Default class="more-btn" (click)="allTrailers('Upcoming-Trailer')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let trailer of trailers;" [src]='trailer.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openTrailerinfo(trailer.ID)" />
        </ion-scroll>
    </ion-item>


    <h5 class="text-change">Hollywood TV Show</h5> <button ion-button Default class="more-btn" (click)="allHollywoodTVShow('Hollywood-TV-Show')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let HTVShow of HollywoodTVShow;" [src]='HTVShow.MovieImage' style="width:100px;height:150px;padding:0px 2px; " (click)="openMovieinfo(HTVShow.ID)" />
        </ion-scroll>
    </ion-item>

    <h5 class="text-change">Documentary</h5> <button ion-button Default class="more-btn" (click)="documentary('documentary')">More</button>
    <ion-item class="item2">
        <ion-scroll scrollX="true" style="height: 154px;">
            <img *ngFor="let documentary of documentaryMovies;" [src]='documentary.MovieImage' style="width:100px;height:150px;padding:0px 2px;" (click)="openMovieinfo(documentary.ID)" />
        </ion-scroll>
    </ion-item>

</ion-content>