page-page2 {
/*************videoplayer css*************/

.button-md-danger{
    padding: 0;
    height: auto;
}
.true{
    display: none;
}

 #videoPlayer {
            z-index: 1000;
        }

        .relatedVideosBanner {
            width: 80px;
            height: 80px;
        }
        button{
            height:30px;
            width:30px;
           
        }
    .button-md-danger {
    color: #fff;
    background-color: transparent!important;
    border-radius: 7px;
    font-weight:bold;
    font-size:18px;
    box-shadow:none;
    

    }

    #content-buttons{
          background: radial-gradient(ellipse at center, rgba(152,152,152,1) 0%, rgba(152,152,152,1) 10%, rgba(49,49,49,1) 100%);
padding: 10px 0px;
    text-align: center;
        height: 49px;

    }
    .mute-btn{
        font-size:10px;
            padding: 0px 20px 0px 20px;
    }
    .btn-dwn{
        margin-left:3em;
    }
.icon-btn{
    color: #fff;
    margin-left: 15px;
    margin-right:15px;
}
.icon-btn1{
    color: #fff;
}
.button-md{
        margin: 0px 0px 10px 5px;
}


/*************videoplayer css*************/


ion-alert.abtn .alert-wrapper{
    opacity: 1;
    transform: scale(1);
    background-color: #fafafa;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    border: 4px solid teal;
    border-radius: 4px;
}
.toolbar-background {
    background-color: #003b64;
}
video{
    height: 155px;
}

.listTitle
{
    color : #ffffff !important;
}
.text-smaller{
    border-right: 1px solid $list-md-border-color;
}
.row-dots{
    border-bottom: 1px solid $list-md-border-color;
}
.dot{
    border:1px solid $list-md-border-color;
}
.buttons-Background{
    background: none;
}
.icon-size{
    font-size: 25px;
     color: teal;
}
.segment-button ion-icon {
  font-size: 8.8rem;
}

.segment-button {
  max-height: 8.16rem;
}
 .sleep-video {
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            z-index: 1;
        }
       
        .item-md h2{font-size:0.8em;white-space:initial;}
.list2{margin-bottom:2px;}
.list4{margin-top:10em;}
.list2:first-child{padding-top:5.5em;background:#fff;}
@media(max-width:320px){.list4{margin-top:9.6em;}}
@media(min-width:361px) and (max-width:375px){.list4{margin-top:10.6em;}}
@media(min-width:376px) and (max-width:420px){.list4{margin-top:12.9em;}}
@media(min-width:750px) and (max-width:780px){.list4{margin-top:22em;}}

 .report{
        width:65px;
        height:30px;
        font-size:12px;
        background-color:teal; 
        text-align:center;
        border-radius:10px;
        color:white;
        margin: 13px 14px;
    }

    .report:hover{background-color:teal!important; }
    .btn{
    text-align: left;
     width: 100%;
    background-color: #fff;
    }

.video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
}
video::-internal-media-controls-download-button {
    display:none;
   }

   video::-webkit-media-controls-enclosure {
        overflow:hidden;
   }

   video::-webkit-media-controls-panel {
        width: calc(100% + 40px); 
        background: beige;
   }

}