<ion-header>
    <ion-navbar color="custom-color" >
        <ion-title>
            <img alt="Company Logo" height="40px" src="img/logo.gif">
        </ion-title>

        <!-- <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon  class="icon-size" name="more"></ion-icon>
      </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content>

<div class="modal transparent fullscreen-player"  ng-click="closeModal()" style="position:fixed;z-index:1; width: 100%;">

<div id='content-video'>

    <video id="{{imgurl}}" class="video-js" *ngIf="video=='Movies'" [poster]="imgurl" autoplay controls="controls" style="background: black;min-height:auto; width:100%; vertical-align:middle;">
        <source *ngIf="video=='Movies'" [src]="cameraSrc" codecs="avc1.42E01E, mp4a.40.2" />
    </video>
    <!-- <div *ngIf="video=='Movies'">
    <img src="img/resize.png"  title='Stop' (click)="fullscreen()" style="height:30px; vertical-align:top;" />   
  </div>   -->
  </div> 
<iframe *ngIf="video=='Trailer'" width="100%" height="190" [src]="url" frameborder="0" allowfullscreen></iframe>
    <div class="btn">
        <button ion-button small outline class="report" (click)="reportpopup()">Report</button>
        <button ion-button small outline class="report" (click)="trailer()">Trailers</button>
        <button ion-button small outline class="downldd" (click)="subscribe()">Subscribe</button>
        <button ion-button small outline class="downld" (click)="download(adlink)">Download Link</button>
    </div>
</div>
 <div class="list4">
        <ion-list class="list2" *ngFor="let resultitem of relatedOnes">
            <ion-item class="item1" id='stop' (click)="videoclick(resultitem.MovieSlug,resultitem.TrailorSlug,imgurl)">
                <ion-thumbnail item-left>
                    <img [src]='resultitem.MovieImage'>
                </ion-thumbnail>
                <h2>{{resultitem.MovieTitle}}</h2>
                <h2 *ngIf="!resultitem.MovieTitle">{{resultitem.TrailorTitle}}</h2>
                <p>{{resultitem.MovieReleaseDate}}</p>
                <p *ngIf="!resultitem.MovieReleaseDate">{{resultitem.TrailorReleaseDate}}</p>

            </ion-item>
        </ion-list>
    </div>

    <ion-row style="margin-top:0px;background-image: url(img/adds.jpg); background-size: cover; margin-top:20px;position:fixed;bottom:0px;"> <img [src]='adtext' (click)="banner(adlink)" style="height: 54px; margin: 0 auto;width: 90%;"/></ion-row>
</ion-content>